*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.carousel{
    width: 50%;
    height: 70%;
    position: relative;
}

.element-container{
   
    height: 100%;
}

.element{
    display: none;
    height: 100%;
    text-align: right;
}

.element img{
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.active{
    display: block;
}

.hidden{
    display: none;
}

.title{
    color: white;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    bottom: 60px;
    padding-right: 5px;
}

.description{
    color: white;
    font-size: 13px;
    position: relative;
    bottom: 55px;
    padding-right: 5px;
}

.fa-solid{
    background-color: rgba(211, 211, 211, 0.606);
    border-radius: 50%;
    padding: 7px;
    font-size: 10px;
    cursor: pointer;
}

.next-button{
    position: absolute;
    top: 3px;
    left: 50%;
    transform: translate(-50%, 0);
}

.back-button{
    position: absolute;
    bottom: 7px;
    left: 50%;
    transform: translate(-50%, 0);
}